<h1>edit New event</h1>
<%= bootstrap_form_with model: @event, url: event_path, method: :patch, data: { turbo: false } do |f| %>
  <%= f.text_field :eventname %>
  <%= f.text_field :date%>
  <%= f.submit %>
<% end %>