<h1><%= @venue.city %></h1>
<h2>
  Stadium name: <%= @venue.stadium %>
</h2>
<h3>
  Capacity: <%= @venue.capacity %>
</h3>
<%= image_tag @venue.picture, class: 'w-100 rounded-circle shadow-lg d-block mx-auto', style: 'max-width: 32rem;' %>